/DataSet/deep/
/DataSet/light/
/DataSet/medium/
/Data/
/DataSet/cutoff3hz/
/DataSet/cutoff1hz/
/TESPAR/Amatrix_test.py
/TESPAR/ReadingChannel.py
/TESPAR/ReadingChannelTest.py
/VQ_REMAKE/symbols_cutoff3_s10_unsorted.txt
/VQ_REMAKE/symbols_cutoff3_s100_unsorted.txt
/VQ_REMAKE/symbols_cutoff1_s10_unsorted.txt
/.idea/
