/data/
/vizualization/A/
/vizualization/log/
/vizualization/S/
/vizualization/symbols/
/.idea/
/.idea
/data_to_be_saved
/classification/svm/results/
/tests
/classification/results/
/Afisare/
/classification/decision_tree/runnings/
/classification/decision_tree/new_runnings/
